
.page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #fe2d55;
}

.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
    padding-left: 20%;
    font-family: "Apple Braille";
    font-size: x-large;
    color: #fe2d55;
}

.clock {
    font-size: 20px;
}